<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script type="text/javascript" src="js/angular.min.1.2.10.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script type="text/javascript">
angular.module("scheduleapp", []).controller("scheduleController", function($scope) {
$scope.program = {};

$scope.program.genretypes = [
{ value: "action", label: "Action" },
{ value: "amination", label: "Amination" },
{ value: "documentary", label: "Documentary" },
{ value: "foreign", label: "Foreign" },
{ value: "horror", label: "Horror" },
{ value: "suspense", label: "Suspense" }
];


$scope.addDetail = function() {
//if (angular.isDefined($scope.program.title)) {
//alert($scope.program.title);
//} else {
//alert("missing");
//}
	
$scope.programtitleInvalid = false;
$scope.yearInvalid = false;
$scope.runtimeInvalid = false;

if (!$scope.scheduleForm.programtitle.$valid) {
$scope.programtitleInvalid = true;
}

if (!$scope.scheduleForm.year.$valid) {
$scope.yearInvalid = true;
}


if (!$scope.scheduleForm.runtime.$valid) {
$scope.runtimeInvalid = true;
}


}


});




function is_valid_year (item){
		if (item.match(/^[0-9]{4}$/)){
		} else {
			return false;
		}
	}






</script>
</head>
<body>

<div ng-app="scheduleapp" ng-controller="scheduleController">

		

<form name="scheduleForm" ng-submit="addDetail()" novalidate>

<span ng-show="programtitleInvalid">Please enter a value for Program Title.</span><br/>
<label for="program-title">Enter Program Title</label>
<input type="text" name="programtitle" ng-model="program.title" required>
<br/>

<span ng-show="yearInvalid">Please enter a value for Year.</span><br/>
<label for="program-year">Enter Release Year</label>
<input type="text" name="year" ng-model="program.year" required>
<br/>

<label for="program-genre">Select Genre</label>
<select name="genre" ng-model="program.genre" ng-options="obj.value as obj.label for obj in program.genretypes">
	<option value="">Category</option>
</select>
<br/>

<span ng-show="runtimeInvalid">Please enter a value for Program Run Time.</span><br/>
<label for="program-runtime">Enter Program Run Time</label>
<input type="text" name="runtime" ng-model="program.runtime" required>
<br/>

<label for="description">Enter Program Description</label>
<textarea name="description" rows="4" cols="50"></textarea>


<label for="program-url">Enter Program URL</label>
<input type="text" name="url" ng-model="program.url">

<input type="submit" value="Add Schedule Detail">
</form>
</div>	


</body>
</html>